# ignore an entire directory
/Python Code/.ipynb_checkpoints

# ignore any files ending in .log
*.log

# ignore any files ending in .json in the /PlayerStats folder
/Data/PlayerStats/*.json
/Data/PlayerStats/**/*.json
